/*** XP Table ***/

.xptable > div {
    column-count: 5;
    column-width: 240px;
    column-gap: 12px;
    column-rule: 1px solid #a2a9b1;
    display: block;
    padding: 0.2em 0em;
}

.xptable > div > div {
    display: inline-block;
    width: 100%;
    text-align: center;
    /* cursor: pointer; */
}

.xptable > .header {
    border-bottom: 1px solid #a2a9b1;
    background-color: #eaecf0;

}

.xptable > .header span {
    text-align: center;
    font-stretch: condensed;
    font-weight: bold;
}

.xptable > .content > div {
    cursor: pointer;
}

.xptable > .content > div:hover {
    background-color: rgba(255,255,255,0.8);
}

.xptable > .content > div.active {
    background-color: rgba(255,255,255,0.6);
}

.xptable div span {
    display: inline-block;
    width: 25%;
}

.xptable span.level,
.xptable span.ap {
    width: 30%;
}
.xptable span.xp,
.xptable span.total_xp {
    width: 35%;
}


.xptable span.level {
    font-weight: bold;
}
.xptable span.level::after {
    content: ":";
}


.xpcalc .controls {
    box-sizing: border-box;
    border: none;
    position: relative;
    margin: auto;
    /* background-color: #f8f9fa;
    border: 1px solid #a2a9b1; */
    padding: 0.5em 0.4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px 20px;
    line-height: normal;
}

.xpcalc .controls > .levels,
.xpcalc .controls > .items {
    user-select: none;
}

.xpcalc .controls > .items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px 20px;

}

.xpcalc .controls > .items .item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2px 0;
}

.xpcalc .controls > div {
    position: relative;
}

.xpcalc .controls input {
	width: 44px;
    font-size: 17px;
    border: none;
    background-color: rgba(255,255,255,1);
    border-radius: 3px;
}

.xpcalc .controls > .output {
    text-align: right;
    cursor: help;
}


.xpcalc .controls > .output > div{
    margin: 0.2em;
}

.xpcalc .controls > .output  span {
	display: inline-block;
    min-width: 64px;
}

.xpcalc .controls > div.warn::before {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -22px;
    height: 24px;
    line-height: 20px;
    border-radius: 4px 4px 0 0;

    text-align: center;
    background-color: #ffbdd2;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,189,210,1) 30%);
    color: #c52c5d;
    content:"suboptimal";
}

.xpcalc .controls > .mw-collapsible-toggle {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5em 0.4em;
}

.xpcalc td.data {
    padding: 0;
}